### dataset used 'Wholesale customers data' from UCI Machine Learning Repository is from this source: http://archive.ics.uci.edu/ml/datasets/Wholesale+customers

### The line below is seen at the top of page 5. We will use that as a reference with this new dataset for part 2 of Lab 1.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Wholesale customers data.csv')

In [3]:
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(440, 8)

In [6]:
df.columns

Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicassen'],
      dtype='object')

In [7]:
df.dtypes

Channel             int64
Region              int64
Fresh               int64
Milk                int64
Grocery             int64
Frozen              int64
Detergents_Paper    int64
Delicassen          int64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

# Selecting rows and columns

## Single Column

In [9]:
country_df = df['Region']
country_df.head()

0    3
1    3
2    3
3    3
4    3
Name: Region, dtype: int64

## Multiple Columns

In [10]:

subset = df[['Channel', 'Milk', 'Grocery']]
subset.head()

   Channel  Milk  Grocery
0        2  9656     7561
1        2  9810     9568
2        2  8808     7684
3        1  1196     4221
4        2  5410     7198

In [11]:
sub_columns = ['Channel', 'Milk', 'Grocery']
sub_df = df[sub_columns]
sub_df.head()

   Channel  Milk  Grocery
0        2  9656     7561
1        2  9810     9568
2        2  8808     7684
3        1  1196     4221
4        2  5410     7198

# Rows - loc[] and iloc[]

In [12]:
df.loc[0]

Channel                 2
Region                  3
Fresh               12669
Milk                 9656
Grocery              7561
Frozen                214
Detergents_Paper     2674
Delicassen           1338
Name: 0, dtype: int64

In [13]:
df.iloc[0]

Channel                 2
Region                  3
Fresh               12669
Milk                 9656
Grocery              7561
Frozen                214
Detergents_Paper     2674
Delicassen           1338
Name: 0, dtype: int64

In [14]:
Channel_df = df.copy()

In [15]:
Channel_df.set_index('Channel', inplace=True)

In [16]:
Channel_df.head()

         Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
2             3  12669  9656     7561     214              2674        1338
2             3   7057  9810     9568    1762              3293        1776
2             3   6353  8808     7684    2405              3516        7844
1             3  13265  1196     4221    6404               507        1788
2             3  22615  5410     7198    3915              1777        5185

In [17]:
Channel_df.loc[2].head() # head() is chained to keep the output to a manageable number.

         Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
2             3  12669  9656     7561     214              2674        1338
2             3   7057  9810     9568    1762              3293        1776
2             3   6353  8808     7684    2405              3516        7844
2             3  22615  5410     7198    3915              1777        5185
2             3   9413  8259     5126     666              1795        1451

In [18]:
Channel_df.iloc[0]

Region                  3
Fresh               12669
Milk                 9656
Grocery              7561
Frozen                214
Detergents_Paper     2674
Delicassen           1338
Name: 2, dtype: int64

# Multiple rows

In [19]:
Channel_df.iloc[[0,10,100]]

         Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
2             3  12669  9656     7561     214              2674        1338
2             3   3366  5403    12974    4400              5977        1744
2             3  11594  7779    12144    3252              8035        3029

In [20]:
index_range = list(range(0,10))

In [21]:
Channel_df.iloc[index_range]

         Region  Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
2             3  12669   9656     7561     214              2674        1338
2             3   7057   9810     9568    1762              3293        1776
2             3   6353   8808     7684    2405              3516        7844
1             3  13265   1196     4221    6404               507        1788
2             3  22615   5410     7198    3915              1777        5185
2             3   9413   8259     5126     666              1795        1451
2             3  12126   3199     6975     480              3140         545
2             3   7579   4956     9426    1669              3321        2566
1             3   5963   3648     6192     425              1716         750
2             3   6006  11093    18881    1159              7425        2098

# Column slicing

In [22]:
index_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
index_range[0:5] # 0 to 4 is five elements

[0, 1, 2, 3, 4]

In [24]:
index_range[:] # all elements

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Labels 0 through 4, all columns

In [25]:

df.loc[0:4, :] # Could also use iloc

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

### All rows, columns channel and milk

In [26]:

df.loc[:, ['Channel', 'Milk']].head()

   Channel  Milk
0        2  9656
1        2  9810
2        2  8808
3        1  1196
4        2  5410

### All rows, first 3 columns

In [27]:
df.iloc[:, :3].head() # 0 is assumed as starting column number

   Channel  Region  Fresh
0        2       3  12669
1        2       3   7057
2        2       3   6353
3        1       3  13265
4        2       3  22615

## Filtering and aggragation

In [28]:

df.groupby('Channel')['Fresh'].mean()

Channel
1    13475.560403
2     8904.323944
Name: Fresh, dtype: float64

In [29]:
df.groupby(['Channel', 'Region']) \
[['Milk', 'Fresh']]. \
mean().head(n=20)

                        Milk         Fresh
Channel Region
1       1        3870.203390  12902.254237
        2        2304.250000  11650.535714
        3        3486.981043  13878.052133
2       1       10784.000000   5200.000000
        2        9190.789474   7289.789474
        3       10981.009524   9831.504762

### Flatten out the resultsÂ¶

In [30]:
df.groupby(['Channel', 'Region']) \
[['Milk', 'Fresh']]. \
mean(). \
reset_index().\
head()

   Channel  Region          Milk         Fresh
0        1       1   3870.203390  12902.254237
1        1       2   2304.250000  11650.535714
2        1       3   3486.981043  13878.052133
3        2       1  10784.000000   5200.000000
4        2       2   9190.789474   7289.789474

### Count unique channel & milk

In [31]:
df.groupby('Channel')['Milk'].nunique()

Channel
1    285
2    141
Name: Milk, dtype: int64

### Count unique region & milk to compare

In [32]:
df.groupby('Region')['Milk'].nunique()

Region
1     75
2     46
3    309
Name: Milk, dtype: int64

# References:

Chen, D. Y. (2018). Pandas for Everyone: Python Data Analysis. In Github. Retrieved from https://github.com/chendaniely/pandas_for_everyone

RegisUniversity, . (2020). Chapter 1. In Regis University: FTE_Week1. Retrieved from https://worldclass.regis.edu/d2l/le/content/249236/viewContent/3539935/View


UCI Machine Learning Repository, . (n.d.). Wholesale customers Data Set. In Center for Machine Learning and Intelligent Systems. Retrieved from http://archive.ics.uci.edu/ml/datasets/Wholesale+customers